{% extends 'default/admin/base.html.twig' %}


{% block body %}
    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-9">

                        <h2 class="title-1 m-b-25">Jeux Galeries</h2>

                        <div class="table-responsive table--no-card m-b-40">
                            <table class="table table-borderless table-striped table-earning">
                                <thead>
                                <tr>
                                    <th>Titre</th>
                                    <th>Image Galerie</th>
                                    <th>Update</th>


                                    <th class="text-right">Supprimer</th>

                                    <th><a href={{ path('gallery') }}><button type="button" class="btn btn-primary">Ad</button></a></th>

                                </tr>
                                </thead>
                                <tbody>

                                {% if game_gallery==[] %}
                                <p> Il n'y a pas de jeu.</p>
                                {% else %}

                                    {% for games_gallery in game_gallery %}
                                <tr>
                                   <!-- <td>{{ games_gallery.id }}</td>-->
                                    <td>{{ games_gallery.title }}</td>
                                    <td>{{ games_gallery.image}}</td>

                                    <td><a href={{ path('galleryUpdate',{ 'id': games_gallery.id }) }}><button type="button" class="btn btn-success">Update</button></a></td>



                                    <td class="text-right"><a href={{ path('galleryDelete',{ 'id': games_gallery.id }) }}><button type="button" class="btn btn-danger">Supprimer</button></a></td>
                                    <td></td>

                                </tr>
                                    {% endfor %}
                                {% endif %}



                                </tbody>
                            </table>

                        </div>
                    </div>



                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT-->
{% endblock %}