{% extends 'default/admin/base.html.twig' %}


{% block body %}
    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-9">
                        <h2 class="title-1 m-b-25">Jeux Informations</h2>
                        <div class="table-responsive table--no-card m-b-40">
                            <table class="table table-borderless table-striped table-earning">
                                <thead>
                                <tr>
                                    <th>Titre</th>
                                    <th>Image Information</th>
                                    <th>Editeur</th>
                                    <th>Genre</th>
                                    <th>Plateforme</th>
                                    <th>Resume</th>
                                    <th>Update</th>

                                    <th class="text-right">Supprimer</th>
                                    <th><a href={{ path('information') }}><button type="button" class="btn btn-primary">Ad</button></a></th>

                                </tr>
                                </thead>
                                <tbody>

                                {% if game_information==[] %}
                                <p> Il n'y a pas de jeu.</p>
                                {% else %}
                                    {% for games_information in game_information %}
                                    <tr>
                                       <!-- <td>{{ games_information.id }}</td>-->
                                        <td>{{ games_information.title }}</td>
                                        <td>{{ games_information.image}}</td>
                                        <td>{{ games_information.editor}}</td>
                                        <td>{{ games_information.genre }}</td>
                                        <td>{{ games_information.platform}}</td>
                                        <td>{{ games_information.resume}}</td>

                                    <td><a href={{ path('informationUpdate',{ 'id': games_information.id }) }}><button type="button" class="btn btn-success">Update</button></a></td>



                                    <td><a href={{ path('informationDelete',{ 'id': games_information.id }) }}><button type="button" class="btn btn-danger">Supprimer</button></a></td>
                                    <td></td>
                                </tr>

                                    {% endfor %}



                                {% endif %}


                                </tbody>
                            </table>
                        </div>
                    </div>



                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT-->
{% endblock %}